@model IEnumerable<Core.Models.RoleViewModel>
@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>

                <th>
                    Group Name
                </th>
                <th>
                    <a class="btn btn-outline-primary btn-sm" title="Add Group" data-bs-toggle="tooltip" data-modal="" asp-action="CreateRoleGroup" asp-controller="Admin">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (!item.Selected) { item.Selected = true; }
                <tr>

                    <td>
                        <a data-modal-replace-target="" tragetid="replacetarget2" title="View Users" data-bs-toggle="tooltip" asp-action="UserListByRoleId" asp-controller="Admin" asp-route-rolename="@item.Name">
                            @item.Name
                        </a>

                    </td>
                    <td>

                       
                        <a class="btn btn-outline-primary btn-sm" title="View Permissions" data-bs-toggle="tooltip" data-modal-replace-target="" tragetid="replacetarget2" asp-action="EditRoleGroupPermission" asp-controller="Admin" asp-route-id="@item.Id">
                            <i class="fa fa-user"></i>
                        </a>
                        <a class="btn btn-outline-warning btn-sm" title="Edit Role Group" data-bs-toggle="tooltip" data-modal="" asp-action="EditRoleGroup" asp-controller="Admin" asp-route-id="@item.Id">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-outline-danger btn-sm" title="Delete Role Group" data-bs-toggle="tooltip" data-modal="" asp-action="_DeleteRoleGroup" asp-controller="Admin" asp-route-id="@item.Id" asp-route-Name="@item.Name" asp-route-Selected="@item.Selected">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



